.all {
	display: flex;
	justify-content: center;
}
main {
	width: 50%;
	justify-content: center;
	align-self: center;
}

.grid-menus {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	place-items: start;
	grid-gap: 2em;
}
.grid-menus > * {
	background: url(https://assets.iamsteve.me/placeholder/1.jpg);
	width: 100%;
}
.grid-menus > ::before {
	content: "";
	display: inline-block;
	width: 1px;
	height: 0;
	padding-bottom: calc(100% / (1190 / 1684));
}
