.job{
  display: flex;
}

#bloc_page
{
  display: flex;
  flex-direction: row-reverse;
  width: 90%;
  text-align: justify;
  margin: auto;
  border:1px black solid;
  font-family: arial;
}

li
{
  list-style: none;
}

/*!!!!!SECTION!!!!!*/


section
{
  display: flex;
  flex-direction: column;
  width: 65%;
  margin: 50px;
  height: auto;
}

/*!!!!!header!!!!!*/

section header h1
{
  font-size: 3em;
  font-family: Impact;
}

section header h2
{
  font-size: 2em;
  font-family: Impact;
}

.societe
{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.1em;
}
/*!!!!!SECTION BODY!!!!!*/

section h1 .fas
{
  padding-left: 15px;
}

article
{
  width: 100%;
}


section h1
{
  text-transform: uppercase;
  padding: 0px;
}

section i 
{
  padding-right: 25px;
}

article
{
  border-top: 2px #FFB300 solid;
}

.date
{
display: flex;
flex-direction: row;
width: 32%
}

.droite
{
  width: 70%;
  padding-left: 50px;
}

.job
{
  line-height: 1em;
}

.recommandations
{
  display: flex;
justify-content: center;
}

.contact
{
  margin-right: 50px;
}


/*!!!!!ASIDE!!!!!*/

aside img
{
    border-radius: 50%;
  height: 175px;
   width: 175px;
   border: 1px black solid;
   box-shadow: 5px 5px 10px black;
}
aside header
{
  text-align: center;

}

aside
{
  width: 30%;
  margin: 50px;
  background-color: #FFB300;
  height: auto;
  display: flex;
  flex-direction: column;

}

aside h1
{
  background-color: black;
  color: #FFB300;
  text-align: center;
  text-transform: uppercase;
}

.categorie p
{
  padding: 0 10%;
  text-align: justify;
}

.logos 
{
  display: flex;
  justify-content: space-between;
padding: 0 10%;
flex-wrap: wrap;
}

.loisirs
{
margin-top: auto;
margin-bottom: 50px;
}


/*!!!!responsive!!!!!*/

@media screen and (max-width: 1024px)
{
#bloc_page
{
  flex-direction: column-reverse;
  width: auto;
  margin: auto;
  padding: auto;
}


section
{
width: auto;
margin: 10px;
}

section h1, section h2
{
  text-align: center;
}

/*!!!!aside!!!!!*/

aside
{
  flex-direction: column;
  flex-wrap: wrap;
  width: auto;
  margin: auto;
  justify-content: center;
}

article
{
  width: 100%;
  margin: auto;
}

.recommandations
{
  width: 100%;
  margin: auto;
  text-align: justify;
}

.contact
{
  width: 40%;
  text-align: center;
}

.date
{
padding-left: auto;
width: 10%
}

.droite
{
margin: auto;
}


.job
{
  display: flex;
  justify-content: flex-start;
}

.date i
{
display: none;
}



aside header
{
  width: 100%;
  margin: auto;
}



.loisirs
{
  width: 100%;

}

.logos
{
  flex-direction: row;
  display: flex;
  text-align: center;
}

.categorie
{
  width: 100%;
  height: auto;

}

.categorie p
{
  text-align: center;
margin: 5px auto;

}




}


