@mixin size-landscape($width) {
	width: $width;
	height: $width * 0.75;
}

@mixin size-portrait($height) {
	height: $height * 0.75;
	width: $height * 0.75 * 0.75;
}

.projects {
	width: 90%;
	margin: auto;
	min-height: 85vh;
	@include flex(space-between, center, row);
	text-align: center;
	flex-wrap: wrap;
	h2 {
		margin: 5rem;
	}
}

.landscape {
	@include size-landscape(622px);
}

.portrait {
	@include size-portrait(622px);
}

.travelly,
.photo,
.ohmyfood {
	flex: 1 1 50%;
}
