//phone vertical

@media screen and (max-height: 840px) {
	body {
		main {
			.row {
				section {
					max-width: 120px;
				}
			}
		}
		.note {
			margin-top: 20px;
		}
		.menu {
			flex-grow: 1;
			padding: 0 10px;
			margin: 10px 20px 60px 20px;

			.menu-header {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;

				h1 {
					padding: 0 5px;
					margin: 0;
					height: 25px;
				}
				img {
					width: 25px;
				}
			}

			.dish-type {
				max-width: none;
				margin: 10px 0;
			}

			section {
				max-width: 300px;

				.menu-sub-title {
					width: 100%;
					margin: 0;
					justify-content: center;
					img {
						width: 100px;
					}
				}
			}
			h1,
			h2,
			h3 {
				font-size: 1em;
			}
			p {
				font-size: 0.8em;
				text-align: justify;
			}
			.price {
				margin-left: 5px;
			}
			.menu-footer {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: center;
				height: auto;
				h1 {
					padding: 0 5px;
					margin: 0;
					height: 25px;
				}
				img {
					width: 25px;
				}
			}
		}
	}
}
//phone horizontal
@media screen and (max-height: 662px) and (min-width: 450px) {
	body {
		main {
			width: 100%;
			flex-direction: row;
			.row {
				width: 50%;
				flex-direction: row;
				padding-bottom: 60px;
				section {
					max-width: 120px;
				}
			}
		}
		.btn-container {
			display: none;
		}
	}
}
//low width
@media screen and (max-width: 360px) {
	body {
		footer,
		.btn-container {
			font-size: 12px;
		}
		footer {
			.legal,
			.contact {
				padding: 0;
				margin: 0 10px;
			}
		}
	}
}
//laptop and pc
@media screen and (min-width: 980px) {
	body {
		main {
			.row {
				width: 50%;
				section {
					max-width: 200px;
				}
			}
		}
	}
}
//big screens
@media screen and (min-width: 1200px) {
	body {
		main {
			.row {
				width: 70%;
				section {
					max-width: 300px;
				}
			}
		}

		.soon {
			font-size: 20px;
		}
		footer {
			.legal,
			.contact {
				font-size: 20px;
			}
		}
	}
}
