.note {
	font-size: 20px;
	margin: $margin * 1.5 0 0 0;
}

.menu {
	font-size: 12px;
	background-color: #fde0dc;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: $margin * 1.6 $margin * 2;
	box-shadow: 0 0 10px lightgrey;
	max-width: 1124px;
	width: 100%;
	.menu-header {
		img {
			min-width: 25px;
			max-width: 50px;
			margin-bottom: 0;
			background-color: #fde0dc;
		}
		h1 {
			line-height: 1;
			margin-bottom: $margin;
		}
	}
	section {
		margin-bottom: 30px;
		text-align: center;
		.menu-sub-title {
			display: flex;
			align-items: center;
			justify-content: space-between;
			line-height: 1;
			margin-bottom: $margin;
			img {
				height: 4.5px;
			}
		}
		.line {
			display: flex;
			justify-content: space-between;
		}
	}
	.menu-footer {
		max-width: 160px;
		position: relative;
		display: flex;
		justify-content: space-around;
		background-color: #fde0dc;
		color: black;
		padding: 0;
		margin: 0;
		img {
			max-width: 20px;
		}
	}
}
.footer-container {
	width: 100%;
	padding-top: 100px;
}
