header,
footer,
.soon {
	background: $bg;
	color: $text;
	text-align: center;
}

header,
footer {
	width: 100%;
}

.soon {
	width: 250px;
	border-radius: 10px;
	font-size: 2em;
	padding: 10px;
}

footer {
	display: flex;
	justify-content: space-between;
	margin-top: 35px;
	padding: 0;
	position: fixed;
	bottom: 0;
	p {
		font-size: 1.5em;
		padding: 0 15px;
	}
	a {
		text-decoration: none;
		color: $text;
	}
}
