//menu1

.note {
	width: 100%;
	line-height: 2;
	font-size: 1.6rem;
	margin-top: $margin;
	margin-bottom: 65px;
	@include center;
	flex-direction: column;
	flex: 1;
	font-family: "Kalam", cursive, Arial, Helvetica, sans-serif;
	color: #3d1319;
	&__htitle {
		font-family: "uniform-3-regular", Arial, Helvetica, sans-serif;
		text-align: center;
		color: black;
	}
	&__header {
		@include center;
		flex-direction: column;
		flex-grow: 1;
		font-weight: bold;
		font-size: 1.5rem;
		font-family: "Devonshire", cursive;
		text-align: center;
		> img {
			height: 50px;
			margin-bottom: -15px;
		}
	}

	&__menu {
		@include center;
		flex-direction: column;
		background: #fcdfdb;
		justify-content: flex-start;
		box-shadow: 0 0 10px lightgrey;
		width: 90%;
	}

	&__submenu {
		width: 85%;
		margin-bottom: $margin * 2;
	}

	&__headline {
		@include center;
		justify-content: space-between;
		width: 100%;
	}
	&__break {
		width: 30%;
	}
	&__subtitle {
		@include center;
		position: relative;
		flex-direction: column;
		font-size: 2rem;
		text-align: center;
		&:after {
			content: "";
			position: absolute;
			width: 0;
			height: 3px;
			display: block;
			bottom: 1.2rem;
			right: 0;
			background: #3d1319;
			transition: width 0.4s ease;
			-webkit-transition: width 0.4s ease;
		}

		&:hover:after {
			width: 100%;
			left: 0;
			background: #3d1319;
		}
	}
	&__line {
		display: flex;
		justify-content: space-between;

		:nth-child(2) {
			font-weight: bold;
			font-size: 1.8rem;
			margin-left: 5px;
		}
	}

	&__footer {
		@include center;
		font-weight: bold;
		margin-bottom: $margin;
		font-family: "Devonshire", cursive;
		> img {
			height: 25px;
		}
	}
}
