@media screen and (min-width: 768px) and (min-height: 768px) {
	.header {
		height: 120px;
		&__img {
			height: 80px;
		}
	}

	.main {
		width: 700px;
	}
	.main__menu,
	.main__img {
		@include size(300px);
	}

	.soon,
	.footer {
		font-size: 25px;
	}

	.note {
		&__menu {
			width: 80%;
			max-width: 1124px;
		}
		&__subtitle {
		}
	}
}

@media screen and (orientation: landscape) and (max-width: 1024px) {
	.main {
		flex-direction: row;
		flex-grow: 1;
		width: 100%;
		&__row {
			width: 50%;
			margin-bottom: 70px;
			padding: 0;
			justify-content: space-around;
		}
	}
	.soon {
		display: none;
	}
}
