$bg: #579c87;
$text: #fcca46;
$margin: 1em;
$font-size: 1rem;
$orange: #c67412;
$pink: #a46799;
$blue: #6e4ccc;
$chiclist: (
	subtitle1: #c67412,
	subtitle2: #a46799,
	subtitle3: #6e4ccc,
);

$delicebluel: #219df9;
$delicebluem: #0470f3;
$deliceblueh: #0128dd;

$greend: #5eae4c;
$greenl: lighten(#87ff47, 15%);
